@model IEnumerable<book_manager.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="" data-action="Create" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Novo Livro
    </a>
</p>

@section scripts{

    <script type="text/javascript">
        $(document).ready(configurarControles);
    </script>

}