@model IEnumerable<book_manager.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="" data-action="Create" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Novo Livro
    </a>
</p>

<table id="booksGrid">
    <thead>
        <tr>
            <th data-column-id="Title" data-order="asc">Title</th>
            <th data-column-id="Author">Author</th>
            <th data-column-id="YearEdition">Year of Edition</th>
            <th data-column-id="Value">Value</th>
        </tr>
    </thead>
</table>

@section scripts{
    <script src="~/Scripts/jquery.bootgrid.js"></script>

    <script type="text/javascript">
        $(document).ready(configureControls);

        function configureControls() {
            $('#booksGrid').bootgrid({
                ajax: true,
                url: "@Url.Action("List")"
            });
        }
    </script>

}